<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,18}</string>
                <key>spriteSourceSize</key>
                <string>{75,18}</string>
                <key>textureRect</key>
                <string>{{1,187},{75,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterL/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{157,1},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterL/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{53,1},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterL/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterL/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{1,127},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterL/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{53,61},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterR/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{105,121},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterR/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{105,1},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterR/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{50,61}</string>
                <key>textureRect</key>
                <string>{{1,64},{50,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterR/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{53,121},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterR/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{105,61},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>updie/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,53}</string>
                <key>spriteSourceSize</key>
                <string>{47,53}</string>
                <key>textureRect</key>
                <string>{{157,172},{47,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>updie/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{157,60},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>updie/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{157,116},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monster.png</string>
            <key>size</key>
            <string>{226,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b0621d741a946327c8e9aae8a74d064:5c6a9c7a8d644db61ec1782ad1b56766:a6ae2b9304b7a9e734cf6a25f3604866$</string>
            <key>textureFileName</key>
            <string>monster.png</string>
        </dict>
    </dict>
</plist>
